{% extends 'base.html' %}

{% block title %}
  Creator
{% endblock title %}

{% block search %}
{% endblock search %}

{% block content %}
  <div class="container">
    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
	<h2 class="accordion-header">
	  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
	    Creators
	  </button>
	</h2>
	<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
	  <div class="accordion-body">
	    <strong>Creators</strong>, here you will find all "creators" this means peaple who has created any programing language.
	    <a href="{% url 'creators:create' %}" class="btn btn-primary btn-sm d-block">Add new creator</a>
	  </div>
	</div>
      </div>
    </div>
   </div>
  <div class="container">
  <div class="row">
      {% for creator in creators %}
      <div class="col-md-4 col-sm-6 mb-4">
	  <div class="card h-100 mx-auto mt-4 shadow-lg" style="width: 18rem; border-radius: 15px; overflow: hidden; background: #f7f7f8;">
	      <img src="{{ creator.picture.url }}" class="card-img-top img-fluid object-fit-cover" alt="logo" style="height: 250px;">
	      <div class="card-body d-flex flex-column">
		  <h5 class="card-title text-center">{{ creator.name }}</h5>
		  <p class="card-text mt-2">{{ creator.nationality }}</p>
		  <p class="card-text mt-2">{{ creator.description }}</p>
		  <div class="mt-auto">
		      {% if user.is_authenticated %}
		      <a href="{% url "creators:detail" creator.slug %}" class="btn btn-primary btn-sm d-block">Go to detail</a>
		      {% endif %}
		  </div>
	      </div>
	  </div>
      </div>
      {% empty %}
      <div class="col-12">
	  <p class="text-center">No creators found.</p>
      </div>
      {% endfor %}
  </div>
  </div>
  {% include "components/pagination.html" %}
{% endblock content %}
