.navbar-vt {
    background-color: #19192e;
}

.navbar-vt .nav-link {
    color: #ffffff;
}

.navbar-vt .nav-link:hover {
    color: #ffcc00;
}

.navbar-vt .btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.navbar-vt .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand img {
  margin-right: 10px;
}

.auth-background {
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}
