{% extends 'base.html' %}

{% load static %}

{% block header %}
    {{form.media}}
{% endblock %}

{% block title %}
  Feature
{% endblock title %}

{% block search %}
{% endblock search %}

{% block content %}
  <h1 class="text-center">Create Feature</h1>
  <div class="container">
  <form action="{% url 'features:create' tech_id=tech_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="d-grid gap-2">
      <button class="btn btn-success mt-3 mb-3">
	Save
      </button>
      <a href="{% url "techs:list" %}" class="btn btn-primary mb-3">Cancel</a>
    </div>
  </form>
  </div>
{% endblock content %}
