{% extends 'base.html' %}

{% block title %}
  Feature
{% endblock title %}

{% block search %}
{% endblock search %}

{% block content %}
  <div class="container">
  <h1 class="text-center">Update Feature</h1>
    <form action="#" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      {{form.as_p}}
      <div class="d-grid gap-2">
	<button class="btn btn-success mt-3 mb-3">
	  Save
	</button>
	<a href="{% url "techs:detail" feature.tech.slug %}" class="btn btn-primary mb-3">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}
