{% load static %}

<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>

      {% block title %}
	Django projects
      {% endblock %}
    
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>

  <nav>
    <ul>
      <li>
	<a href="{% url 'home' %}">Home</a>
      </li>
      <li>
	<a href="{% url 'about' %}">About</a>
      </li>
      {% if user.is_authenticated %}
      <li>
	<a href="{% url 'techs:list' %}">Techs</a>
      </li>
      <li>
	<a href="{% url 'creators:list' %}">Creators</a>
      </li>
      <li>
	<a href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
	<a href="{% url 'users:login' %}">Login</a>
      </li>
      <li>
	<a href="{% url 'users:signup' %}">Signup</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  

  <main>
    {% if user.is_authenticated %}
      {% block search %}
	<div>
	  <form method="GET">
	    <input type="text" placeholder="Search ..." name="search" value="{{ search_query }}">
	    <button type="submit">Buscar</button>
	  </form>
	</div>
      {% endblock search %}
    {% endif %}

    {% block content %}
    {% endblock %}
  
  </main>
  {% block scripts %}
  {% endblock %}
</body>
