{% load static %}
<nav class="navbar navbar-expand-lg shadow-lg navbar-vt">
  <div class="container">
    <a class="navbar-brand nav-link" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" height="45" alt="techvault logo">
      TechVault
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
	<li class="nav-item">
	  <a class="nav-link"href="{% url 'home' %}">Home</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'about' %}">About</a>
	</li>
	{% if user.is_authenticated %}
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'techs:list' %}">Techs</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'creators:list' %}">Creators</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link btn btn-primary text-white ms-2" href="{% url 'users:logout' %}">Logout</a>
	  </li>
	{% else %}
	  <li class="nav-item">
	    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link btn btn-primary text-white ms-2" href="{% url 'users:signup' %}">Sign Up</a>
	  </li>
	{% endif %}
      </ul>
    </div>
  </div>
</nav>
