{% extends 'base.html' %}

{% block search %}
{% endblock search %}

{% block title %}
  Tech
{% endblock title %}

{% block content %}
  <div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="d-grid gap-2 col-8 mx-auto">
      <h2 class="text-center">Do you want to delete the Tech: {{ tech }}</h2>
      <button class="btn btn-danger">Confirm</button>
      <a href="{% url "techs:detail" tech.slug %}" class="btn btn-primary">Cancel</a>
    </div>
  </form>
  </div>
{% endblock content %}
